In [170]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#pd.set_option('max_info_rows', 500)
pd.set_option('display.max_rows', 500)

In [86]:
trade_df = pd.read_csv('./data/Risk_Detection_Qualification/t_trade.csv', index_col='rowkey', dtype={'id': np.str})
trade_test_df = pd.read_csv('./data/Risk_Detection_Qualification/t_trade_test.csv', index_col='rowkey', dtype={'id': np.str})
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
login_df = pd.read_csv('./data/Risk_Detection_Qualification/t_login.csv', index_col='log_id', 
                       dtype={'id': np.str, 'timestamp': np.str},
                       parse_dates=['time'], date_parser=dateparse)
login_test_df = pd.read_csv('./data/Risk_Detection_Qualification/t_login_test.csv', index_col='log_id', 
                            dtype={'id': np.str, 'timestamp': np.str},
                            parse_dates=['time'], date_parser=dateparse)
merged_login_df = login_df.append(login_test_df)
login_df.shape, login_test_df.shape, merged_login_df.shape

((595645, 12), (87748, 12), (683393, 12))

In [169]:
# 得到一列不同的值
login_df['result'].unique()
login_df['id'].unique()
len(login_df['city'].unique()), len(login_df.index)
trade_df.count()
trade_df[trade_df.id=='98286'].sort_values(by='time', ascending = True)

                         time     id  is_risk
rowkey
189     2015-01-01 00:25:04.0  98286        1
205     2015-01-01 00:26:28.0  98286        0
211     2015-01-01 00:27:24.0  98286        1
23649   2015-01-05 00:24:40.0  98286        1
537455  2015-04-16 00:47:41.0  98286        0
635491  2015-05-10 15:32:35.0  98286        0

In [171]:
merged_login_df[merged_login_df.id=='98286'].sort_values(by='time', ascending = True)

,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
log_id,,,,,,,,,,,,
9.203913e+15,2000.0,34446,2,1080760,70,1,1.420042722E9,1,98286,False,False,2015-01-01 00:18:42
8.943675e+15,1000.0,365020,2,1080760,70,1,1.420042801E9,1,98286,False,False,2015-01-01 00:20:01
6.301681e+15,4241.0,835072,1,1105545,428,1,1.420224803E9,1,98286,False,False,2015-01-03 02:53:23
7.089236e+15,3549.0,835072,1,374427,194,1,1.420302731E9,3,98286,False,False,2015-01-04 00:32:11
6.283455e+14,104506.0,564144,16,451870,70,1,1.420388129E9,3,98286,False,False,2015-01-05 00:15:29
9.395992e+15,3000.0,34446,2,409000,70,1,1.42038828E9,3,98286,False,False,2015-01-05 00:18:00
9.392634e+15,3000.0,365020,2,409000,70,1,1.420388414E9,3,98286,False,False,2015-01-05 00:20:14
5.941092e+14,4000.0,835072,2,451870,70,1,1.420388555E9,3,98286,False,False,2015-01-05 00:22:35
5.123796e+15,2000.0,835072,2,451870,70,1,1.420388559E9,3,98286,False,False,2015-01-05 00:22:39
5.143985e+15,3000.0,835072,2,451870,70,1,1.42038905E9,3,98286,False,False,2015-01-05 00:30:50
7.437770e+15,6348.0,564144,1,451870,70,31,1.420392555E9,3,98286,False,False,2015-01-05 01:29:15
4.370324e+15,3000.0,835072,2,1098318,58,1,1.420490792E9,3,98286,False,False,2015-01-06 04:46:32
4.350979e+16,2000.0,835072,2,455872,194,1,1.420495493E9,3,98286,False,False,2015-01-06 06:04:53
8.672176e+15,0.0,835072,2,1339366,194,1,1.420622669E9,1,98286,False,False,2015-01-07 17:24:29
2.371232e+16,1952769.0,561431,1,451870,70,1,1.420662023E9,3,98286,False,False,2015-01-08 04:20:23
9.534991e+15,68686.0,561431,16,451870,70,1,1.420662362E9,3,98286,False,False,2015-01-08 04:26:02
7.118719e+15,1000.0,458636,2,451870,70,1,1.420792461E9,1,98286,False,False,2015-01-09 16:34:21
6.302921e+15,0.0,533457,2,451870,70,1,1.42097075E9,1,98286,False,False,2015-01-11 18:05:50
7.485479e+15,6264.0,835072,1,480392,194,1,1.4210542E9,3,98286,False,False,2015-01-12 17:16:40
4.109637e+15,1000.0,34446,2,313608,70,1,1.421064794E9,1,98286,False,False,2015-01-12 20:13:14
8.961555e+15,5000.0,491038,2,451870,70,1,1.421188906E9,3,98286,False,False,2015-01-14 06:41:46
4.382763e+15,1000.0,34446,2,451870,70,1,1.421248035E9,1,98286,False,False,2015-01-14 23:07:15
2.165813e+16,0.0,34446,2,451870,70,1,1.42125118E9,1,98286,False,False,2015-01-14 23:59:40
8.834115e+15,1000.0,835072,2,131088,194,1,1.421488942E9,3,98286,False,False,2015-01-17 18:02:22
9.765631e+15,11520.0,835072,1,77795,194,1,1.421519141E9,3,98286,False,False,2015-01-18 02:25:41
9.522564e+15,2000.0,835072,2,1460142,194,1,1.421520104E9,3,98286,False,False,2015-01-18 02:41:44
9.062394e+15,0.0,240815,2,451870,70,1,1.421525067E9,1,98286,False,False,2015-01-18 04:04:27
4.115816e+16,2000.0,835072,2,786073,194,1,1.421527063E9,3,98286,False,False,2015-01-18 04:37:43
1.633029e+16,1000.0,350061,2,260609,70,1,1.421819162E9,1,98286,False,False,2015-01-21 13:46:02
4.711700e+15,0.0,350061,2,451870,70,1,1.421866768E9,1,98286,False,False,2015-01-22 02:59:28
4.635537e+16,1000.0,835072,2,451870,70,1,1.421866825E9,1,98286,False,False,2015-01-22 03:00:25
6.929697e+15,2000.0,533457,2,451870,70,1,1.421867014E9,3,98286,False,False,2015-01-22 03:03:34
5.124715e+15,8412.0,835072,1,1067608,194,1,1.421872413E9,3,98286,False,False,2015-01-22 04:33:33
6.919967e+14,1000.0,533457,2,276059,70,1,1.421906473E9,1,98286,False,False,2015-01-22 14:01:13
8.566020e+15,0.0,533457,2,276059,70,1,1.421918992E9,1,98286,False,False,2015-01-22 17:29:52
3.597214e+15,1000.0,34446,2,451870,70,1,1.422023522E9,1,98286,False,False,2015-01-23 22:32:02
3.478137e+15,2000.0,34446,2,451870,70,1,1.422033849E9,1,98286,False,False,2015-01-24 01:24:09
1.536138e+16,1000.0,350061,2,313608,70,1,1.422100289E9,1,98286,False,False,2015-01-24 19:51:29
5.178273e+15,2000.0,491038,2,451385,194,1,1.422217116E9,1,98286,False,False,2015-01-26 04:18:36
9.262046e+15,1000.0,491038,2,1331575,194,1,1.422402996E9,1,98286,False,False,2015-01-28 07:56:36
3.510549e+16,1000.0,34446,2,309397,194,1,1.422466872E9,1,98286,False,False,2015-01-29 01:41:12
8.905951e+15,1000.0,491038,2,210124,194,1,1.42249424E9,1,98286,False,False,2015-01-29 09:17:20
4.944016e+14,2571.0,835072,1,615376,428,1,1.422856029E9,1,98286,False,False,2015-02-02 13:47:09
2.776580e+16,2485.0,835072,1,1441166,428,1,1.422901474E9,1,98286,False,False,2015-02-03 02:24:34
5.907132e+15,0.0,130176,2,264294,194,1,1.422957711E9,1,98286,False,False,2015-02-03 18:01:51
7.815510e+15,2438.0,835072,1,1041954,428,1,1.422986563E9,1,98286,False,False,2015-02-04 02:02:43
9.981119e+15,2507.0,835072,1,339390,428,1,1.423073329E9,1,98286,False,False,2015-02-05 02:08:49
8.393031e+15,3496.0,835072,1,1371780,194,1,1.423162347E9,3,98286,False,False,2015-02-06 02:52:27
3.431908e+15,2438.0,835072,1,1448545,428,1,1.423163164E9,1,98286,False,False,2015-02-06 03:06:04
5.009279e+15,2458.0,835072,1,1473299,428,1,1.423248432E9,1,98286,False,False,2015-02-07 02:47:12
9.274144e+15,1000.0,34446,2,451870,70,1,1.423292886E9,1,98286,False,False,2015-02-07 15:08:06
1.158204e+16,2478.0,835072,1,1420140,428,1,1.423331369E9,1,98286,False,False,2015-02-08 01:49:29
2.574039e+15,2476.0,835072,1,401210,428,1,1.423418245E9,1,98286,False,False,2015-02-09 01:57:25
2.032131e+16,15934.0,835072,1,696354,194,1,1.423483187E9,3,98286,False,False,2015-02-09 19:59:47
2.792739e+15,2431.0,835072,1,1561679,62,1,1.423504948E9,1,98286,False,False,2015-02-10 02:02:28
9.232059e+15,5314.0,835072,1,865796,194,1,1.423516107E9,3,98286,False,False,2015-02-10 05:08:27
8.370491e+15,6033.0,835072,1,24821,194,1,1.423649155E9,3,98286,False,False,2015-02-11 18:05:55
4.243421e+15,2465.0,835072,1,1024391,428,1,1.423670454E9,1,98286,False,False,2015-02-12 00:00:54
9.867487e+15,1000.0,34446,2,451870,70,1,1.423723408E9,1,98286,False,False,2015-02-12 14:43:28
3.464929e+15,1000.0,34446,2,451870,70,1,1.423753598E9,1,98286,False,False,2015-02-12 23:06:38
1.004162e+16,0.0,365020,2,451870,70,1,1.423753759E9,1,98286,False,False,2015-02-12 23:09:19
6.051789e+16,1000.0,835072,2,451870,70,1,1.423753868E9,1,98286,False,False,2015-02-12 23:11:08
2.318511e+14,2466.0,835072,1,1079234,428,1,1.423765118E9,1,98286,False,False,2015-02-13 02:18:38
5.863853e+15,2647.0,835072,1,755521,194,1,1.423847181E9,3,98286,False,False,2015-02-14 01:06:21
6.526335e+15,2471.0,835072,1,461843,428,1,1.423887672E9,1,98286,False,False,2015-02-14 12:21:12
7.384695e+15,2453.0,835072,1,889085,428,1,1.423979043E9,1,98286,False,False,2015-02-15 13:44:03
2.302255e+16,2456.0,835072,1,245066,428,1,1.424023477E9,1,98286,False,False,2015-02-16 02:04:37
6.388797e+15,5591.0,835072,1,771493,194,1,1.424037141E9,3,98286,False,False,2015-02-16 05:52:21
2.917807e+15,3536.0,835072,1,924643,194,-2,1.424090859E9,3,98286,False,False,2015-02-16 20:47:39
7.178615e+15,2471.0,835072,1,859121,428,-2,1.424109972E9,1,98286,False,False,2015-02-17 02:06:12
5.041484e+15,4692.0,835072,1,1048406,194,-2,1.424161153E9,3,98286,False,False,2015-02-17 16:19:13
3.410516e+15,2467.0,835072,1,1253507,428,-2,1.424197863E9,1,98286,False,False,2015-02-18 02:31:03
4.271761e+16,2476.0,835072,1,45629,428,-2,1.424284531E9,1,98286,False,False,2015-02-19 02:35:31
5.162596e+15,2489.0,835072,1,46336,428,-2,1.424351462E9,1,98286,False,False,2015-02-19 21:11:02
9.246540e+15,2477.0,835072,1,99661,428,-2,1.424374294E9,1,98286,False,False,2015-02-20 03:31:34
1.044803e+16,2595.0,835072,1,837968,428,-2,1.42445534E9,1,98286,False,False,2015-02-21 02:02:20
1.135248e+16,2437.0,835072,1,221383,428,-2,1.424541328E9,1,98286,False,False,2015-02-22 01:55:28
9.934066e+15,2522.0,835072,1,1412724,428,-2,1.424628156E9,1,98286,False,False,2015-02-23 02:02:36
6.803646e+15,2456.0,835072,1,798536,428,-2,1.424667805E9,1,98286,False,False,2015-02-23 13:03:25
8.245634e+15,2443.0,835072,1,836248,428,-2,1.424717243E9,1,98286,False,False,2015-02-24 02:47:23
5.535896e+15,2625.0,835072,1,1311294,428,-2,1.424765592E9,1,98286,False,False,2015-02-24 16:13:12
2.939608e+15,2488.0,835072,1,932842,428,-2,1.424806662E9,1,98286,False,False,2015-02-25 03:37:42
1.973250e+16,2691.0,835072,1,305629,428,-2,1.424926692E9,1,98286,False,False,2015-02-26 12:58:12
9.114004e+15,2463.0,835072,1,44020,428,-2,1.424973279E9,1,98286,False,False,2015-02-27 01:54:39
7.266351e+15,2466.0,835072,1,1171113,428,-2,1.425105669E9,1,98286,False,False,2015-02-28 14:41:09
8.518710e+14,2423.0,835072,1,1019653,428,-2,1.42517562E9,1,98286,False,False,2015-03-01 10:07:00
8.592320e+15,2468.0,835072,1,930717,428,-2,1.425192619E9,1,98286,False,False,2015-03-01 14:50:19
4.427889e+16,45863.0,1071986,1,451870,70,-2,1.425630884E9,1,98286,False,False,2015-03-06 16:34:44
3.381905e+15,120450.0,1071986,1,451870,70,-2,1.42564804E9,3,98286,False,False,2015-03-06 21:20:40
3.792415e+16,5000.0,130176,2,146886,70,1,1.42564839E9,3,98286,False,False,2015-03-06 21:26:30
4.607502e+15,30258.0,1071986,16,451870,70,1,1.425651307E9,1,98286,False,False,2015-03-06 22:15:07
2.511239e+16,565611.0,70673,1,451870,70,1,1.425658964E9,1,98286,False,False,2015-03-07 00:22:44
5.081205e+14,4000.0,561467,2,451870,70,1,1.425724982E9,1,98286,False,False,2015-03-07 18:43:02
1.074079e+16,4000.0,130176,2,451870,70,1,1.42572526E9,1,98286,False,False,2015-03-07 18:47:40
8.592881e+15,5000.0,469107,2,451870,70,1,1.425766965E9,1,98286,False,False,2015-03-08 06:22:45
8.464826e+15,6000.0,561467,2,415870,70,6,1.426014298E9,1,98286,False,False,2015-03-11 03:04:58
3.113399e+16,5000.0,561467,2,415870,70,6,1.426014301E9,1,98286,False,False,2015-03-11 03:05:01
3.097560e+15,6000.0,561467,2,415870,70,6,1.426014301E9,1,98286,False,False,2015-03-11 03:05:01
2.949966e+16,6000.0,561467,2,415870,70,6,1.42601431E9,1,98286,False,False,2015-03-11 03:05:10
5.050512e+15,6000.0,561467,2,415870,70,6,1.426014329E9,1,98286,False,False,2015-03-11 03:05:29
9.593575e+15,5000.0,561467,2,415870,70,6,1.426014341E9,1,98286,False,False,2015-03-11 03:05:41
6.362269e+15,6000.0,561467,2,415870,70,1,1.426014362E9,1,98286,False,False,2015-03-11 03:06:02
6.277503e+15,5.0,580198,10,1042181,288,1,1.427093414E9,1,98286,True,False,2015-03-23 14:50:14
4.114629e+16,11000.0,77059,2,1184143,63,31,1.427602492E9,1,98286,False,False,2015-03-29 12:14:52
7.201756e+14,5000.0,365020,2,205949,70,31,1.4276206E9,1,98286,False,False,2015-03-29 17:16:40
7.615620e+15,7000.0,365020,2,205949,70,1,1.427620607E9,1,98286,False,False,2015-03-29 17:16:47
9.740139e+15,7000.0,561467,2,166978,70,1,1.428253817E9,3,98286,False,False,2015-04-06 01:10:17
4.078259e+15,8000.0,34446,2,646073,70,31,1.428387878E9,3,98286,False,False,2015-04-07 14:24:38
5.423712e+15,9000.0,34446,2,646073,70,1,1.428387883E9,3,98286,False,False,2015-04-07 14:24:43
9.072954e+14,8.0,942266,10,764734,297,1,1.428405258E9,1,98286,True,False,2015-04-07 19:14:18
5.938051e+15,4.0,914221,10,764734,297,1,1.428408357E9,1,98286,True,False,2015-04-07 20:05:57
7.130612e+14,5.0,942266,10,451870,70,1,1.428412838E9,1,98286,True,False,2015-04-07 21:20:38
3.206726e+15,5.0,914221,10,451870,70,1,1.428412945E9,1,98286,True,False,2015-04-07 21:22:25
9.285328e+15,4.0,914221,10,451870,70,1,1.428412948E9,1,98286,True,False,2015-04-07 21:22:28
6.762108e+14,5.0,914221,10,451870,70,1,1.428412951E9,1,98286,True,False,2015-04-07 21:22:31
5.692404e+15,29102.0,914221,1,451870,70,1,1.428413489E9,3,98286,False,False,2015-04-07 21:31:29
4.752181e+14,8000.0,561467,2,571819,70,1,1.428430513E9,3,98286,False,False,2015-04-08 02:15:13
2.804724e+16,8000.0,848101,2,571819,70,1,1.428456212E9,3,98286,False,False,2015-04-08 09:23:32
6.026921e+13,8000.0,848101,2,571819,70,1,1.42848201E9,3,98286,False,False,2015-04-08 16:33:30
4.046988e+16,7000.0,848101,2,571819,70,1,1.428484756E9,3,98286,False,False,2015-04-08 17:19:16
7.370259e+15,7000.0,848101,2,571819,70,1,1.428494315E9,3,98286,False,False,2015-04-08 19:58:35
4.427661e+16,8000.0,848101,2,1098142,70,1,1.428502647E9,3,98286,False,False,2015-04-08 22:17:27
6.723430e+15,8000.0,848101,2,451870,70,1,1.428516881E9,3,98286,False,False,2015-04-09 02:14:41
7.727113e+15,8000.0,848101,2,451870,70,1,1.428552496E9,3,98286,False,False,2015-04-09 12:08:16
2.336017e+15,8000.0,848101,2,451870,70,1,1.428561519E9,3,98286,False,False,2015-04-09 14:38:39
9.738386e+15,10000.0,561467,2,1337086,70,1,1.428639764E9,3,98286,False,False,2015-04-10 12:22:44
1.166004e+16,8000.0,848101,2,938771,70,1,1.428668752E9,3,98286,False,False,2015-04-10 20:25:52
3.215347e+15,6000.0,848101,2,451870,70,1,1.428720082E9,3,98286,False,False,2015-04-11 10:41:22
8.831651e+15,8000.0,561467,2,451870,70,1,1.428725859E9,3,98286,False,False,2015-04-11 12:17:39
6.356625e+15,25215.0,963710,1,451870,70,1,1.428776715E9,3,98286,False,False,2015-04-12 02:25:15
1.789827e+16,7000.0,34446,2,560426,70,1,1.42882314E9,3,98286,False,False,2015-04-12 15:19:00
3.225519e+16,23184.0,739698,1,451870,70,1,1.428827917E9,3,98286,False,False,2015-04-12 16:38:37
8.839236e+15,176436.0,942266,1,451870,70,1,1.428833286E9,3,98286,False,False,2015-04-12 18:08:06
8.631925e+15,28406.0,36065,1,451870,70,1,1.428833473E9,3,98286,False,False,2015-04-12 18:11:13
8.915091e+15,7000.0,651977,2,451870,70,1,1.42883356E9,3,98286,False,False,2015-04-12 18:12:40
6.770959e+15,5.0,269579,10,451870,70,1,1.428833567E9,1,98286,True,False,2015-04-12 18:12:47
1.480798e+15,29477.0,622718,1,451870,70,1,1.428845819E9,3,98286,False,False,2015-04-12 21:36:59
9.671899e+15,8000.0,434754,2,451870,70,1,1.428862409E9,3,98286,False,False,2015-04-13 02:13:29
1.735858e+16,23944.0,964532,1,451870,70,1,1.428868533E9,3,98286,False,False,2015-04-13 03:55:33
9.335177e+15,6000.0,34446,2,451870,70,1,1.428902202E9,3,98286,False,False,2015-04-13 13:16:42
7.715993e+15,7000.0,434754,2,1104724,70,1,1.428923027E9,3,98286,False,False,2015-04-13 19:03:47
7.212852e+15,21834.0,964532,1,451870,70,1,1.428923615E9,3,98286,False,False,2015-04-13 19:13:35
6.433594e+15,7000.0,848101,2,451870,70,31,1.428938888E9,3,98286,False,False,2015-04-13 23:28:08
5.321687e+15,6000.0,848101,2,451870,70,1,1.428938897E9,3,98286,False,False,2015-04-13 23:28:17
1.045294e+16,9000.0,848101,2,451870,70,1,1.428942277E9,3,98286,False,False,2015-04-14 00:24:37
3.998594e+16,9000.0,848101,2,1317271,70,1,1.428984187E9,3,98286,False,False,2015-04-14 12:03:07
9.228931e+15,9000.0,561467,2,1138846,70,1,1.42901558E9,3,98286,False,False,2015-04-14 20:46:20
3.341851e+15,6000.0,883337,2,1138846,70,1,1.429015676E9,3,98286,False,False,2015-04-14 20:47:56
8.963693e+15,17309.0,146386,1,451870,70,1,1.429039188E9,3,98286,False,False,2015-04-15 03:19:48
3.553599e+15,20163.0,146386,1,451870,70,1,1.429039806E9,3,98286,False,False,2015-04-15 03:30:06
6.300312e+14,23916.0,859691,1,451870,70,1,1.429040123E9,3,98286,False,False,2015-04-15 03:35:23
2.517853e+16,7000.0,848101,2,451870,70,1,1.429075081E9,3,98286,False,False,2015-04-15 13:18:01
8.282301e+15,28356.0,219006,1,451870,70,1,1.429093919E9,3,98286,False,False,2015-04-15 18:31:59
9.491468e+15,6000.0,155065,2,399454,70,1,1.429095703E9,3,98286,False,False,2015-04-15 19:01:43
1.926710e+16,33217.0,36065,1,451870,70,1,1.429096199E9,3,98286,False,False,2015-04-15 19:09:59
7.048266e+15,9000.0,848101,2,451870,70,1,1.429097056E9,3,98286,False,False,2015-04-15 19:24:16
4.475065e+15,8000.0,155065,2,399454,70,1,1.429097531E9,3,98286,False,False,2015-04-15 19:32:11
2.932916e+15,8000.0,848101,2,868020,70,31,1.429114134E9,3,98286,False,False,2015-04-16 00:08:54
7.818191e+15,5000.0,848101,2,868020,70,1,1.429114139E9,3,98286,False,False,2015-04-16 00:08:59
6.714662e+15,8000.0,34446,2,451870,70,1,1.429136029E9,3,98286,False,False,2015-04-16 06:13:49
2.778172e+15,5000.0,848101,2,1377308,70,1,1.429146928E9,3,98286,False,False,2015-04-16 09:15:28
1.675811e+16,7000.0,34446,2,1317877,70,1,1.429155768E9,3,98286,False,False,2015-04-16 11:42:48
9.866063e+15,23188.0,442717,1,451870,70,1,1.429161126E9,2,98286,False,False,2015-04-16 13:12:06
3.104003e+16,8000.0,848101,2,451870,70,1,1.42917923E9,3,98286,False,False,2015-04-16 18:13:50
3.560759e+16,7000.0,434754,2,951322,70,1,1.429210271E9,3,98286,False,False,2015-04-17 02:51:11
9.045353e+15,8000.0,365020,2,451870,70,1,1.429250109E9,3,98286,False,False,2015-04-17 13:55:09
7.030634e+14,4.0,36065,10,451870,70,1,1.429250308E9,1,98286,True,False,2015-04-17 13:58:28
1.426318e+15,183794.0,124963,1,451870,70,1,1.429275556E9,3,98286,False,False,2015-04-17 20:59:16
8.935423e+15,17118.0,124963,1,451870,70,1,1.429277361E9,3,98286,False,False,2015-04-17 21:29:21
9.693241e+15,30662.0,36065,1,451870,70,1,1.429280014E9,3,98286,False,False,2015-04-17 22:13:34
5.786922e+15,7000.0,434754,2,451870,70,1,1.429283354E9,3,98286,False,False,2015-04-17 23:09:14
3.279448e+15,6000.0,434754,2,146886,70,1,1.429316457E9,3,98286,False,False,2015-04-18 08:20:57
6.038347e+15,8000.0,848101,2,1244918,70,1,1.429348171E9,3,98286,False,False,2015-04-18 17:09:31
7.727431e+15,8000.0,34446,2,451870,70,1,1.429381182E9,3,98286,False,False,2015-04-19 02:19:42
1.998873e+15,12000.0,848101,2,451870,70,1,1.429390392E9,3,98286,False,False,2015-04-19 04:53:12
3.569870e+16,8000.0,848101,2,995491,70,1,1.429484408E9,3,98286,False,False,2015-04-20 07:00:08
2.805300e+15,10000.0,848101,2,1490997,261,1,1.429519419E9,3,98286,False,False,2015-04-20 16:43:39
2.052694e+16,9000.0,848101,2,897438,194,1,1.429519426E9,3,98286,False,False,2015-04-20 16:43:46
9.433520e+15,10000.0,848101,2,451870,70,1,1.42956016E9,3,98286,False,False,2015-04-21 04:02:40
2.062488e+15,9000.0,365020,2,162769,70,1,1.429601044E9,3,98286,False,False,2015-04-21 15:24:04
4.357901e+15,8000.0,1022650,2,1441056,70,1,1.429601289E9,3,98286,False,False,2015-04-21 15:28:09
4.651235e+16,8000.0,434754,2,1441056,70,1,1.429601778E9,3,98286,False,False,2015-04-21 15:36:18
9.532195e+15,7000.0,434754,2,260609,70,1,1.429618117E9,3,98286,False,False,2015-04-21 20:08:37
5.532868e+15,8.0,839023,10,138966,217,-4,1.429628686E9,1,98286,True,False,2015-04-21 23:04:46
5.716100e+15,39685.0,36065,1,451870,70,1,1.429649085E9,3,98286,False,False,2015-04-22 04:44:45
1.040000e+16,27599.0,305703,1,451870,70,1,1.429649947E9,3,98286,False,False,2015-04-22 04:59:07
7.919809e+14,10000.0,848101,2,1102986,438,1,1.429669433E9,3,98286,False,False,2015-04-22 10:23:53
4.281423e+15,8000.0,434754,2,1273893,70,1,1.429781098E9,3,98286,False,False,2015-04-23 17:24:58
6.526826e+15,8000.0,434754,2,1273893,70,1,1.429785781E9,3,98286,False,False,2015-04-23 18:43:01
1.798134e+16,9000.0,34446,2,451870,70,1,1.429841598E9,3,98286,False,False,2015-04-24 10:13:18
3.970199e+16,8000.0,365020,2,451870,70,1,1.42984175E9,3,98286,False,False,2015-04-24 10:15:50
5.134223e+15,8000.0,34446,2,451870,70,1,1.429841875E9,3,98286,False,False,2015-04-24 10:17:55
9.675228e+15,9000.0,848101,2,451870,70,1,1.429901812E9,3,98286,False,False,2015-04-25 02:56:52
4.386600e+15,8000.0,848101,2,451870,70,1,1.429934861E9,3,98286,False,False,2015-04-25 12:07:41
1.554505e+16,10000.0,434754,2,658269,70,1,1.430023936E9,3,98286,False,False,2015-04-26 12:52:16
5.532341e+15,8000.0,434754,2,658269,70,1,1.43003012E9,3,98286,False,False,2015-04-26 14:35:20
3.128209e+15,8000.0,434754,2,658269,70,1,1.43004878E9,3,98286,False,False,2015-04-26 19:46:20
7.854834e+15,8000.0,434754,2,451870,70,1,1.430093076E9,3,98286,False,False,2015-04-27 08:04:36
5.273323e+15,8000.0,434754,2,451870,70,1,1.430093703E9,3,98286,False,False,2015-04-27 08:15:03
1.339049e+16,9000.0,434754,2,1053747,70,1,1.430130693E9,3,98286,False,False,2015-04-27 18:31:33
6.275124e+15,7000.0,848101,2,451870,70,1,1.430320959E9,3,98286,False,False,2015-04-29 23:22:39
9.348571e+14,9000.0,34446,2,451870,70,1,1.430347272E9,3,98286,False,False,2015-04-30 06:41:12
1.881945e+16,8000.0,383892,2,149486,70,31,1.430392888E9,3,98286,False,False,2015-04-30 19:21:28
6.756994e+15,7000.0,383892,2,149486,70,1,1.430392897E9,3,98286,False,False,2015-04-30 19:21:37
4.177793e+14,11000.0,848101,2,451870,70,31,1.430515386E9,3,98286,False,False,2015-05-02 05:23:06
9.170972e+15,7000.0,848101,2,451870,70,1,1.430515395E9,3,98286,False,False,2015-05-02 05:23:15
8.260233e+14,6000.0,434754,2,1188301,70,1,1.430568752E9,3,98286,False,False,2015-05-02 20:12:32
6.662336e+15,10000.0,365020,2,451870,70,1,1.430679661E9,3,98286,False,False,2015-05-04 03:01:01

显示某一列数值的分布情况

In [93]:
trade_df.shape, trade_df[trade_df['is_risk']==0].shape, trade_df[trade_df['is_risk']==1].shape
login_df.count()
#trade_df.is_risk.value_counts(normalize=True).plot(kind='bar', alpha=0.5)
trade_df.is_risk.value_counts(normalize=True)
#login_df.is_sec.value_counts(normalize=True).plot(kind='bar', alpha=0.5)
#login_test_df.is_sec.value_counts(normalize=True).plot(kind='bar', alpha=0.5)
#login_test_df.info()

0    0.972551
1    0.027449
Name: is_risk, dtype: float64

In [25]:
trade_df_by_id = trade_df['is_risk'].groupby(trade_df['id'])

id_risk_trade   = trade_df[trade_df['is_risk']==1]['id']
id_nonrisk_trade = trade_df[trade_df['is_risk']==0]['id']
checked_id = set(id_risk) & set(id_nonrisk)
len(id_risk), len(id_nonrisk), len(checked_id)

(3643, 129076, 455)

In [74]:
login_df_by_id = login_df.groupby(login_df['id']).count()
print(login_df_by_id)
#ratio = len(trade_df[trade_df['is_risk']==1])/len(trade_df)
#len(trade_df[trade_df['is_risk']==1]), len(trade_df)
# login_df['id']

        timelong  device  log_from   ip  city  result  timestamp  type  \
id
100002         9       9         9    9     9       9          9     9
100006        21      21        21   21    21      21         21    21
100019         4       4         4    4     4       4          4     4
100020        36      36        36   36    36      36         36    36
100024        11      11        11   11    11      11         11    11
100027         3       3         3    3     3       3          3     3
100039        25      25        25   25    25      25         25    25
100046        45      45        45   45    45      45         45    45
100058        18      18        18   18    18      18         18    18
100063        10      10        10   10    10      10         10    10
100068         9       9         9    9     9       9          9     9
100070         9       9         9    9     9       9          9     9
100077        23      23        23   23    23      23         23    23
100078         3       3         3    3     3       3          3     3
100087        51      51        51   51    51      51         51    51
10009          2       2         2    2     2       2          2     2
100093        81      81        81   81    81      81         81    81
100101         5       5         5    5     5       5          5     5
100108         5       5         5    5     5       5          5     5
100114        13      13        13   13    13      13         13    13
100115         9       9         9    9     9       9          9     9
100127         7       7         7    7     7       7          7     7
100138         3       3         3    3     3       3          3     3
100142        18      18        18   18    18      18         18    18
100154       103     103       103  103   103     103        103   103
100158         6       6         6    6     6       6          6     6
100169        89      89        89   89    89      89         89    89
100172         2       2         2    2     2       2          2     2
100176        17      17        17   17    17      17         17    17
100180         3       3         3    3     3       3          3     3
...          ...     ...       ...  ...   ...     ...        ...   ...
99823          2       2         2    2     2       2          2     2
99825         10      10        10   10    10      10         10    10
99828         56      56        56   56    56      56         56    56
9983           6       6         6    6     6       6          6     6
99832          8       8         8    8     8       8          8     8
9984          25      25        25   25    25      25         25    25
99840         78      78        78   78    78      78         78    78
99848          1       1         1    1     1       1          1     1
99853         12      12        12   12    12      12         12    12
99855         50      50        50   50    50      50         50    50
99856         22      22        22   22    22      22         22    22
99861          2       2         2    2     2       2          2     2
99871         11      11        11   11    11      11         11    11
99883          1       1         1    1     1       1          1     1
99899          8       8         8    8     8       8          8     8
9990           1       1         1    1     1       1          1     1
99901          7       7         7    7     7       7          7     7
99906          3       3         3    3     3       3          3     3
9991          15      15        15   15    15      15         15    15
99937          5       5         5    5     5       5          5     5
99938         17      17        17   17    17      17         17    17
99943          3       3         3    3     3       3          3     3
99944        125     125       125  125   125     125        125   125
99950         53      53        53   53    53      53         53    53
9996          16      16        16   16    16      16         16    16
99962          4       4         4    4     4       4          4     4
99976        117     117       117  117   117     117        117   117
99977         30      30        30   30    30      30         30    30
9998           6       6         6    6     6       6          6     6
99987          9       9         9    9     9       9          9     9

        is_scan  is_sec  time
id
100002        9       9     9
100006       21      21    21
100019        4       4     4
100020       36      36    36
100024       11      11    11
100027        3       3     3
100039       25      25    25
100046       45      45    45
100058       18      18    18
100063       10      10    10
100068        9       9     9
100070        9       9     9
100077       23      23    23
100078        3       3     3
100087       51      51    51
10009         2       2     2
100093       81      81    81
100101        5       5     5
100108        5       5     5
100114       13      13    13
100115        9       9     9
100127        7       7     7
100138        3       3     3
100142       18      18    18
100154      103     103   103
100158        6       6     6
100169       89      89    89
100172        2       2     2
100176       17      17    17
100180        3       3     3
...         ...     ...   ...
99823         2       2     2
99825        10      10    10
99828        56      56    56
9983          6       6     6
99832         8       8     8
9984         25      25    25
99840        78      78    78
99848         1       1     1
99853        12      12    12
99855        50      50    50
99856        22      22    22
99861         2       2     2
99871        11      11    11
99883         1       1     1
99899         8       8     8
9990          1       1     1
99901         7       7     7
99906         3       3     3
9991         15      15    15
99937         5       5     5
99938        17      17    17
99943         3       3     3
99944       125     125   125
99950        53      53    53
9996         16      16    16
99962         4       4     4
99976       117     117   117
99977        30      30    30
9998          6       6     6
99987         9       9     9

[27155 rows x 11 columns]

显示trade_df和test_df中id的关系

In [154]:
login_id_set = set(login_df['id'])
login_test_id_set = set(login_test_df['id'])
trade_id_set = set(trade_df['id'])
trade_test_id_set = set(trade_test_df['id'])
len(trade_id_set) len(trade_test_id_set)
# set(merged_login_df['id']) == (trade_id_set | trade_test_id_set)
# set(merged_login_df['id']) > trade_id_set, login_id_set > trade_id_set

False

对比显示：对于有危险登录的id和没有危险登录的id，在历史登录记录中ip数量 city数量分布

In [156]:
risk_id = trade_df[trade_df.is_risk==1]['id'].unique()
len(risk_id)
ip_count = login_df[['ip', 'id']].groupby('id').count()
risk_ip_count = ip_count[ip_count.index.isin(risk_id)]
# risk_ip_count['ip'].value_counts(normalize=True).plot(kind='bar', alpha=0.5)
nonrisk_ip_count = ip_count[~(ip_count.index.isin(risk_id))]
nonrisk_ip_count['ip'].mean()
trade_test_df[trade_test_df.id.isin(risk_id)]
len(risk_id), list(risk_id)
#login_id_set

(1086,
 ['18138',
  '65489',
  '90970',
  '55986',
  '154625',
  '131624',
  '163711',
  '141236',
  '97238',
  '173999',
  '118753',
  '80396',
  '138243',
  '98286',
  '173410',
  '122113',
  '102090',
  '29224',
  '83331',
  '45779',
  '34225',
  '123981',
  '174435',
  '122223',
  '50477',
  '127540',
  '33748',
  '115114',
  '97310',
  '15525',
  '20682',
  '7134',
  '228',
  '123213',
  '149027',
  '52866',
  '111549',
  '55050',
  '40177',
  '141710',
  '20854',
  '65116',
  '19541',
  '107796',
  '92925',
  '153553',
  '175112',
  '125538',
  '130018',
  '38375',
  '32826',
  '84716',
  '167880',
  '109284',
  '60226',
  '75282',
  '80795',
  '127432',
  '43005',
  '81956',
  '109226',
  '5965',
  '135740',
  '76586',
  '81543',
  '72144',
  '99157',
  '92767',
  '108496',
  '101757',
  '119082',
  '15668',
  '85214',
  '140090',
  '58293',
  '137984',
  '82036',
  '92347',
  '10946',
  '175471',
  '98434',
  '104475',
  '101333',
  '84910',
  '53540',
  '111456',
  '148545',
  '153424',
  '67225',
  '146530',
  '14364',
  '50749',
  '114243',
  '168863',
  '49901',
  '150867',
  '2536',
  '132867',
  '22742',
  '148351',
  '111968',
  '61412',
  '48288',
  '41029',
  '6133',
  '154974',
  '99223',
  '85736',
  '97595',
  '158262',
  '10195',
  '151368',
  '114888',
  '50590',
  '160557',
  '153433',
  '36532',
  '147135',
  '139350',
  '130033',
  '121071',
  '80142',
  '149423',
  '25198',
  '8087',
  '27357',
  '125016',
  '117573',
  '31067',
  '133726',
  '74585',
  '25973',
  '109862',
  '150759',
  '49334',
  '47106',
  '81770',
  '21581',
  '29718',
  '20921',
  '129422',
  '157721',
  '143149',
  '35326',
  '45452',
  '149192',
  '167354',
  '73369',
  '155770',
  '64310',
  '56890',
  '53379',
  '23703',
  '93253',
  '100039',
  '3169',
  '113380',
  '159071',
  '91506',
  '98859',
  '79977',
  '3416',
  '124886',
  '77682',
  '110411',
  '101284',
  '43347',
  '169362',
  '83788',
  '125883',
  '63145',
  '12282',
  '170410',
  '128971',
  '70743',
  '62681',
  '148547',
  '46104',
  '160803',
  '22687',
  '68846',
  '82149',
  '44290',
  '140863',
  '72207',
  '87997',
  '50768',
  '152183',
  '131149',
  '15181',
  '168685',
  '33401',
  '73680',
  '125447',
  '162304',
  '83215',
  '31112',
  '2135',
  '141698',
  '102714',
  '4494',
  '118460',
  '91060',
  '174655',
  '19613',
  '73639',
  '50278',
  '94719',
  '130912',
  '15968',
  '4652',
  '122960',
  '78645',
  '37277',
  '128717',
  '85877',
  '99400',
  '170401',
  '16053',
  '44629',
  '158974',
  '172319',
  '56408',
  '56144',
  '133518',
  '78520',
  '78602',
  '131524',
  '48755',
  '171509',
  '18910',
  '136201',
  '76543',
  '105321',
  '169380',
  '133029',
  '167446',
  '152765',
  '66142',
  '161741',
  '8802',
  '137672',
  '100636',
  '95721',
  '165359',
  '148570',
  '44988',
  '1075',
  '47776',
  '46931',
  '92616',
  '75162',
  '105035',
  '80932',
  '17488',
  '91437',
  '26444',
  '155079',
  '16969',
  '82566',
  '111914',
  '58273',
  '77593',
  '55409',
  '70684',
  '39379',
  '110405',
  '1051',
  '40097',
  '126865',
  '29822',
  '8651',
  '66237',
  '172657',
  '94408',
  '105799',
  '7884',
  '81645',
  '137852',
  '126424',
  '50518',
  '117302',
  '153883',
  '175327',
  '84985',
  '24535',
  '149425',
  '37027',
  '60265',
  '165831',
  '107249',
  '13690',
  '60356',
  '84240',
  '141620',
  '127648',
  '158729',
  '96468',
  '48807',
  '93618',
  '169258',
  '130371',
  '38850',
  '172180',
  '41428',
  '13140',
  '96881',
  '63613',
  '37037',
  '145976',
  '103992',
  '27389',
  '26327',
  '81464',
  '40209',
  '56536',
  '161109',
  '86481',
  '17451',
  '162844',
  '3680',
  '37452',
  '107486',
  '85065',
  '75792',
  '69666',
  '33313',
  '125090',
  '74296',
  '3971',
  '3474',
  '18692',
  '129032',
  '123564',
  '95836',
  '85132',
  '107305',
  '31794',
  '106436',
  '85974',
  '89436',
  '31959',
  '16989',
  '51187',
  '38152',
  '165089',
  '96859',
  '82593',
  '55400',
  '117579',
  '122675',
  '69414',
  '151974',
  '1437',
  '142235',
  '68951',
  '55162',
  '28121',
  '145458',
  '48997',
  '150421',
  '86781',
  '29438',
  '165662',
  '115988',
  '106079',
  '90542',
  '17756',
  '174874',
  '163105',
  '17906',
  '82743',
  '138929',
  '123315',
  '80166',
  '138192',
  '135435',
  '62929',
  '20048',
  '138815',
  '27810',
  '58041',
  '170523',
  '111237',
  '41895',
  '101818',
  '98260',
  '118907',
  '168944',
  '133208',
  '40881',
  '100020',
  '113713',
  '128889',
  '39958',
  '17439',
  '106952',
  '118128',
  '115574',
  '60271',
  '6988',
  '148429',
  '45774',
  '166366',
  '158524',
  '154355',
  '111204',
  '82238',
  '115826',
  '109019',
  '67043',
  '31322',
  '68886',
  '9557',
  '66324',
  '154218',
  '77459',
  '127393',
  '143287',
  '87133',
  '11016',
  '45414',
  '42599',
  '54056',
  '45944',
  '62654',
  '26869',
  '9440',
  '40462',
  '19358',
  '149600',
  '20016',
  '99483',
  '23524',
  '157174',
  '153033',
  '108258',
  '151882',
  '82370',
  '36238',
  '109461',
  '14778',
  '150589',
  '146817',
  '108706',
  '90984',
  '85634',
  '61922',
  '99771',
  '133920',
  '128004',
  '135426',
  '39881',
  '83987',
  '33413',
  '143345',
  '126617',
  '75909',
  '23211',
  '107276',
  '125402',
  '137436',
  '133229',
  '96309',
  '96752',
  '144283',
  '75863',
  '11167',
  '16140',
  '65666',
  '60482',
  '170957',
  '16456',
  '121599',
  '70037',
  '76929',
  '117643',
  '106551',
  '92930',
  '52995',
  '11948',
  '9090',
  '151160',
  '97927',
  '164006',
  '77940',
  '25767',
  '157793',
  '117777',
  '104899',
  '162027',
  '147670',
  '22862',
  '11731',
  '1291',
  '88199',
  '18882',
  '81796',
  '104125',
  '52306',
  '117271',
  '147301',
  '61009',
  '141965',
  '19762',
  '110267',
  '130109',
  '144325',
  '28697',
  '167851',
  '114385',
  '172870',
  '26185',
  '40737',
  '55322',
  '12653',
  '88257',
  '106558',
  '18357',
  '105119',
  '67031',
  '72844',
  '20593',
  '165787',
  '148795',
  '117440',
  '139553',
  '62575',
  '150245',
  '47556',
  '40850',
  '78142',
  '133340',
  '11439',
  '170665',
  '99205',
  '161896',
  '162219',
  '19286',
  '110346',
  '165294',
  '45216',
  '163906',
  '136374',
  '105104',
  '160318',
  '75156',
  '89649',
  '143823',
  '157583',
  '36616',
  '4378',
  '16664',
  '84869',
  '65581',
  '15861',
  '171031',
  '46967',
  '25764',
  '116746',
  '135062',
  '142907',
  '99855',
  '108247',
  '54827',
  '103260',
  '12589',
  '165422',
  '58477',
  '8988',
  '96009',
  '90845',
  '73492',
  '148921',
  '153071',
  '166836',
  '109839',
  '174219',
  '96588',
  '28552',
  '155366',
  '31518',
  '35475',
  '100487',
  '74329',
  '27795',
  '46985',
  '100058',
  '131644',
  '108038',
  '96713',
  '38432',
  '112598',
  '72923',
  '54159',
  '115719',
  '16549',
  '80149',
  '74414',
  '15138',
  '160357',
  '92784',
  '95144',
  '153678',
  '21366',
  '63881',
  '13261',
  '5732',
  '122927',
  '41026',
  '115812',
  '69897',
  '35760',
  '80372',
  '77412',
  '100687',
  '97898',
  '84881',
  '57498',
  '55528',
  '107361',
  '11609',
  '134297',
  '42686',
  '167706',
  '127427',
  '175004',
  '88633',
  '93603',
  '93555',
  '130105',
  '145094',
  '92929',
  '165894',
  '105023',
  '147395',
  '49310',
  '65285',
  '97809',
  '27829',
  '160625',
  '46780',
  '86468',
  '7337',
  '71191',
  '136705',
  '55212',
  '151478',
  '2935',
  '138838',
  '140295',
  '41104',
  '50598',
  '37730',
  '93939',
  '127063',
  '143906',
  '173844',
  '39942',
  '77785',
  '115295',
  '70186',
  '86131',
  '159754',
  '77436',
  '173976',
  '156696',
  '171789',
  '46787',
  '94030',
  '116356',
  '93267',
  '3117',
  '3834',
  '110045',
  '10457',
  '98123',
  '133300',
  '149872',
  '110860',
  '104078',
  '87319',
  '41963',
  '121972',
  '70842',
  '26776',
  '117498',
  '160941',
  '33632',
  '81308',
  '122509',
  '133457',
  '74513',
  '47760',
  '71005',
  '131186',
  '108940',
  '29268',
  '133124',
  '135995',
  '173839',
  '163472',
  '56861',
  '81989',
  '55367',
  '62155',
  '111160',
  '63436',
  '166968',
  '157292',
  '138652',
  '173035',
  '99783',
  '15367',
  '1278',
  '108051',
  '153886',
  '137849',
  '162725',
  '56189',
  '11337',
  '35880',
  '53359',
  '53983',
  '90254',
  '159597',
  '68902',
  '48887',
  '118520',
  '91362',
  '58319',
  '78713',
  '53524',
  '162723',
  '128894',
  '169467',
  '143517',
  '54973',
  '97832',
  '85503',
  '52426',
  '130357',
  '75972',
  '13850',
  '102361',
  '50851',
  '48230',
  '125499',
  '45993',
  '131369',
  '70957',
  '170872',
  '24828',
  '2711',
  '60757',
  '106903',
  '10599',
  '139009',
  '79838',
  '19836',
  '163248',
  '8248',
  '69405',
  '139508',
  '133149',
  '139035',
  '82415',
  '4524',
  '8940',
  '109773',
  '35520',
  '87425',
  '170769',
  '175546',
  '80306',
  '77965',
  '79534',
  '112680',
  '82828',
  '81885',
  '19971',
  '123869',
  '107846',
  '121086',
  '163142',
  '24445',
  '40787',
  '23303',
  '134855',
  '58917',
  '134',
  '94406',
  '32367',
  '66037',
  '65740',
  '113632',
  '93132',
  '84671',
  '155670',
  '89769',
  '35508',
  '147573',
  '31943',
  '57260',
  '60278',
  '17341',
  '39538',
  '77244',
  '122612',
  '124664',
  '138193',
  '151911',
  '148869',
  '160592',
  '61675',
  '150219',
  '158199',
  '167177',
  '156640',
  '145264',
  '41786',
  '90774',
  '114390',
  '103337',
  '107283',
  '55350',
  '49161',
  '9060',
  '101656',
  '110102',
  '9584',
  '163423',
  '24715',
  '81224',
  '159600',
  '38865',
  '142382',
  '38224',
  '39650',
  '174093',
  '147491',
  '12705',
  '6740',
  '26492',
  '96056',
  '51578',
  '64633',
  '17809',
  '84523',
  '12532',
  '72571',
  '49470',
  '35349',
  '27250',
  '49174',
  '143921',
  '38995',
  '59825',
  '121182',
  '37500',
  '11365',
  '46854',
  '174714',
  '101806',
  '160352',
  '130489',
  '175033',
  '147636',
  '67769',
  '53941',
  '85516',
  '112315',
  '106889',
  '58150',
  '122419',
  '116995',
  '2116',
  '20391',
  '129075',
  '149245',
  '94519',
  '82447',
  '78965',
  '163558',
  '164258',
  '26455',
  '69465',
  '44633',
  '13594',
  '15390',
  '24496',
  '80428',
  '3817',
  '170086',
  '27150',
  '12119',
  '6892',
  '71135',
  '51000',
  '169589',
  '112566',
  '129500',
  '77621',
  '97358',
  '164127',
  '10337',
  '97550',
  '106069',
  '66288',
  '26707',
  '151710',
  '33262',
  '78444',
  '64788',
  '138285',
  '39518',
  '129161',
  '28826',
  '547',
  '86216',
  '165594',
  '17291',
  '122491',
  '120922',
  '115754',
  '32446',
  '162242',
  '714',
  '79104',
  '21759',
  '135268',
  '60354',
  '156074',
  '19226',
  '156272',
  '133561',
  '74097',
  '98729',
  '104686',
  '142468',
  '154111',
  '123095',
  '118804',
  '147787',
  '85281',
  '137152',
  '1282',
  '135311',
  '173994',
  '5084',
  '144351',
  '141122',
  '76706',
  '27277',
  '32211',
  '111432',
  '126067',
  '168631',
  '159650',
  '94951',
  '105906',
  '38803',
  '125967',
  '117416',
  '52518',
  '91564',
  '143995',
  '128558',
  '146658',
  '57074',
  '85847',
  '80421',
  '51876',
  '75501',
  '83877',
  '78195',
  '9239',
  '144403',
  '35267',
  '35750',
  '60928',
  '22033',
  '64603',
  '10848',
  '156809',
  '65465',
  '54217',
  '139089',
  '72825',
  '49169',
  '170277',
  '128947',
  '44795',
  '163431',
  '106048',
  '9494',
  '145869',
  '139034',
  '22533',
  '156644',
  ...])

显示某一个数值是否有同一ip多个帐号的情况

In [132]:
id_per_ip_count = login_df[['ip', 'id']].groupby('ip').count()
id_per_ip_count['id'].max()
id_per_ip_count.sort_values(by='id', ascending = False)

            id
ip
359080   20408
847186    1737
1128532    871
1551343    813
1297757    467
877190     455
621905     384
451870     379
743802     331
851032     296
799641     288
1135082    272
65530      241
1491826    234
248586     221
543306     217
1419103    212
1470087    206
1035194    203
965693     202
1427230    200
1385980    193
110109     193
1110972    191
778990     190
379828     187
622198     182
723633     179
942358     179
744802     177
...        ...
756134       1
756137       1
756141       1
756151       1
756166       1
756178       1
136031       1
756193       1
756197       1
756200       1
756079       1
756067       1
136054       1
756063       1
755846       1
136047       1
755862       1
755872       1
755873       1
755928       1
755931       1
755937       1
755949       1
136044       1
755983       1
755989       1
755996       1
756040       1
756054       1
4            1

[226968 rows x 1 columns]

In [124]:
risk_ip_count
risk_ip_count['ip'].mean()

32.1841620626151

In [152]:
204.0/17875, 3643.0/132719

(0.011412587412587412, 0.027448971134502217)