In [17]:
%matplotlib inline
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import lightgbm as lgb

from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score

pd.set_option('display.width', 5000)
pd.set_option('display.max_columns', 60)
pd.set_option('display.max_rows', 50)

In [16]:
train_df = pd.read_csv('C:/D_Disk/data_competition/home_credit/all/application_train.csv', 
                       header=0, index_col=0, engine='python')
test_df = pd.read_csv('C:/D_Disk/data_competition/home_credit/all/application_test.csv', 
                      header=0, index_col=0, engine='python')

In [18]:
train_y = train_df['TARGET']
train_X = train_df.drop(['TARGET'], axis=1)
test_X = test_df
merged_X = train_X.append(test_X)
merged_X = pd.get_dummies(merged_X)
merged_X.head()

            CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  AMT_GOODS_PRICE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  DAYS_EMPLOYED  DAYS_REGISTRATION  DAYS_ID_PUBLISH  OWN_CAR_AGE  FLAG_MOBIL  FLAG_EMP_PHONE  FLAG_WORK_PHONE  FLAG_CONT_MOBILE  FLAG_PHONE  FLAG_EMAIL  CNT_FAM_MEMBERS  REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  HOUR_APPR_PROCESS_START  REG_REGION_NOT_LIVE_REGION  REG_REGION_NOT_WORK_REGION  LIVE_REGION_NOT_WORK_REGION  REG_CITY_NOT_LIVE_CITY  REG_CITY_NOT_WORK_CITY  LIVE_CITY_NOT_WORK_CITY  EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3           ...             ORGANIZATION_TYPE_Telecom  ORGANIZATION_TYPE_Trade: type 1  ORGANIZATION_TYPE_Trade: type 2  ORGANIZATION_TYPE_Trade: type 3  ORGANIZATION_TYPE_Trade: type 4  ORGANIZATION_TYPE_Trade: type 5  ORGANIZATION_TYPE_Trade: type 6  ORGANIZATION_TYPE_Trade: type 7  ORGANIZATION_TYPE_Transport: type 1  ORGANIZATION_TYPE_Transport: type 2  ORGANIZATION_TYPE_Transport: type 3  ORGANIZATION_TYPE_Transport: type 4  ORGANIZATION_TYPE_University  ORGANIZATION_TYPE_XNA  FONDKAPREMONT_MODE_not specified  FONDKAPREMONT_MODE_org spec account  FONDKAPREMONT_MODE_reg oper account  FONDKAPREMONT_MODE_reg oper spec account  HOUSETYPE_MODE_block of flats  HOUSETYPE_MODE_specific housing  HOUSETYPE_MODE_terraced house  WALLSMATERIAL_MODE_Block  WALLSMATERIAL_MODE_Mixed  WALLSMATERIAL_MODE_Monolithic  WALLSMATERIAL_MODE_Others  WALLSMATERIAL_MODE_Panel  WALLSMATERIAL_MODE_Stone, brick  WALLSMATERIAL_MODE_Wooden  EMERGENCYSTATE_MODE_No  EMERGENCYSTATE_MODE_Yes
SK_ID_CURR                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
100002                 0          202500.0    406597.5      24700.5         351000.0                    0.018801       -9461           -637            -3648.0            -2120          NaN           1               1                0                 1           1           0              1.0                     2                            2                       10                           0                           0                            0                       0                       0                        0      0.083037      0.262949      0.139376           ...                                     0                                0                                0                                0                                0                                0                                0                                0                                    0                                    0                                    0                                    0                             0                      0                                 0                                    0                                    1                                         0                              1                                0                              0                         0                         0                              0                          0                         0                                1                          0                       1                        0
100003                 0          270000.0   1293502.5      35698.5        1129500.0                    0.003541      -16765          -1188            -1186.0             -291          NaN           1               1                0                 1           1           0              2.0                     1                            1                       11                           0                           0                            0                       0                       0                        0      0.311267      0.622246           NaN           ...                                     0                                0                                0                                0                                0                                0                                0                                0                                    0                                    0                                    0                                    0                             0                      0                                 0                                    0                                    1                                         0                              1                                0                              0                         1                         0                              0                          0                         0                                0                          0                       1                        0
100004                 0           67500.0    135000.0       6750.0         135000.0                    0.010032      -19046           -225            -4260.0            -2531         26.0           1               1                1                 1           1           0              1.0                     2                            2                        9                           0                           0                            0                       0                       0                        0           NaN      0.555912      0.729567           ...                                     0                                0                                0                                0                                0                                0                                0                                0                                    0                                    0                                    0                                    0                             0                      0                                 0                                    0                                    0                                         0                              0                                0                              0                         0                         0                              0                          0                         0                                0                          0                       0                        0
100006                 0          135000.0    312682.5      29686.5         297000.0                    0.008019      -19005          -3039            -9833.0            -2437          NaN           1               1                0                 1           0           0              2.0                     2                            2                       17                           0                           0                            0                       0                       0                        0           NaN      0.650442           NaN           ...                                     0                                0                                0                                0                                0                                0                                0                                0                                    0                                    0                                    0                                    0                             0                      0                                 0                                    0                                    0                                         0                              0                                0                              0                         0                         0                              0                          0                         0                                0                          0                       0                        0
100007                 0          121500.0    513000.0      21865.5         513000.0                    0.028663      -19932          -3038            -4311.0            -3458          NaN           1               1                0                 1           0           0              1.0                     2                            2                       11                           0                           0                            0                       0                       1                        1           NaN      0.322738           NaN           ...                                     0                                0                                0                                0                                0                                0                                0                                0                                    0                                    0                                    0                                    0                             0                      0                                 0                                    0                                    0                                         0                              0                                0                              0                         0                         0                              0                          0                         0                                0                          0                       0                        0

[5 rows x 244 columns]

In [28]:
train_merged_X = merged_X[:len(train_y)]
test_merged_X = merged_X[len(train_y):]
X_train_new, X_val_new, y_train_new, y_val_new = train_test_split(
                 train_merged_X, train_y, test_size=0.2,
                 random_state=42)

In [20]:
lgbm1 = lgb.LGBMClassifier(n_estimators=200, n_jobs=3, 
                          learning_rate=0.02, random_state=42)
lgbm1.fit(X_train_new, y_train_new)
y_predictions_lgb = lgbm1.predict(X_val_new)
y_predprob_lgb = lgbm1.predict_proba(X_val_new)[:,1]
acc_rate_lgb = accuracy_score(y_val_new, y_predictions_lgb)
auc_lgb = roc_auc_score(y_val_new, y_predprob_lgb)
print('acc_rate_lgb is {} auc_lgb is {}'.format(acc_rate_lgb, auc_lgb))

c:\anaconda3_py3.6\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

acc_rate_lgb is 0.9201509671951832 auc_lgb is 0.7475363238083782

In [30]:
lgbm4 = lgb.LGBMClassifier(n_estimators=2000, n_jobs=4, 
                          learning_rate=0.01, random_state=42,
                          min_child_samples=150, num_leaves=31, max_depth=10)
lgbm4.fit(X_train_new, y_train_new)
y_predictions_lgb = lgbm4.predict(X_val_new)
y_predprob_lgb = lgbm4.predict_proba(X_val_new)[:,1]
acc_rate_lgb = accuracy_score(y_val_new, y_predictions_lgb)
auc_lgb = roc_auc_score(y_val_new, y_predprob_lgb)
print('acc_rate_lgb is {} auc_lgb is {}'.format(acc_rate_lgb, auc_lgb))

c:\anaconda3_py3.6\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

acc_rate_lgb is 0.919662455489976 auc_lgb is 0.7605304701726396

In [31]:
test_df['TARGET'] = lgbm4.predict_proba(test_merged_X)[:,1]
test_df['TARGET'].to_csv('C:/D_Disk/data_competition/home_credit/all/outcome.csv', header=['TARGET'])

In [32]:
bureau_df = pd.read_csv('C:/D_Disk/data_competition/home_credit/all/bureau.csv', 
                        header=0, index_col=0, engine='python')
bureau_df.head()

            SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE      CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
SK_ID_CURR
215354           5714462        Closed      currency 1         -497                   0               -153.0             -153.0                     NaN                   0         91323.0                  0.0                   NaN                     0.0  Consumer credit                -131          NaN
215354           5714463        Active      currency 1         -208                   0               1075.0                NaN                     NaN                   0        225000.0             171342.0                   NaN                     0.0      Credit card                 -20          NaN
215354           5714464        Active      currency 1         -203                   0                528.0                NaN                     NaN                   0        464323.5                  NaN                   NaN                     0.0  Consumer credit                 -16          NaN
215354           5714465        Active      currency 1         -203                   0                  NaN                NaN                     NaN                   0         90000.0                  NaN                   NaN                     0.0      Credit card                 -16          NaN
215354           5714466        Active      currency 1         -629                   0               1197.0                NaN                 77674.5                   0       2700000.0                  NaN                   NaN                     0.0  Consumer credit                 -21          NaN

In [13]:
credit_card_balance_df = pd.read_csv('C:/D_Disk/data_competition/home_credit/all/credit_card_balance.csv', 
                      header=0, index_col=0, engine='python')
credit_card_balance_df.head()

            SK_ID_CURR  MONTHS_BALANCE  AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  AMT_DRAWINGS_OTHER_CURRENT  AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  CNT_DRAWINGS_POS_CURRENT  CNT_INSTALMENT_MATURE_CUM NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
SK_ID_PREV
2562384         378907              -6       56.970                   135000                       0.0                 877.5                         0.0                     877.5                 1700.325               1800.0                     1800.0                     0.000          0.000                 0.000                       0.0                     1                         0.0                       1.0                       35.0               Active       0           0
2582071         363914              -1    63975.555                    45000                    2250.0                2250.0                         0.0                       0.0                 2250.000               2250.0                     2250.0                 60175.080      64875.555             64875.555                       1.0                     1                         0.0                       0.0                       69.0               Active       0           0
1740877         371185              -7    31815.225                   450000                       0.0                   0.0                         0.0                       0.0                 2250.000               2250.0                     2250.0                 26926.425      31460.085             31460.085                       0.0                     0                         0.0                       0.0                       30.0               Active       0           0
1389973         337855              -4   236572.110                   225000                    2250.0                2250.0                         0.0                       0.0                11795.760              11925.0                    11925.0                224949.285     233048.970            233048.970                       1.0                     1                         0.0                       0.0                       10.0               Active       0           0
1891521         126868              -1   453919.455                   450000                       0.0               11547.0                         0.0                   11547.0                22924.890              27000.0                    27000.0                443044.395     453919.455            453919.455                       0.0                     1                         0.0                       1.0                      101.0               Active       0           0